@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Open+Sans:wght@400;600;700;800&display=swap');



/*font-family: 'Montserrat', sans-serif;

font-family: 'Open Sans', sans-serif; */

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

h1{
	color: #28377e;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

p{
	color: #b0b0b1;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.container{
	width: 90%;
	margin: auto;
}

header{
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
}

.logo{
	width: 20%;
}
  
.nav{
	width: 65%;
}

.nav ul{
	display: flex;
	justify-content: flex-end;
}

.nav ul li{
	margin-left: 30px; 
}

.nav ul li a{
	color: #204f87;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.banner{
	background-image: url(../images/banner.png);
	height: 500px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.content{
	width: 460px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.content h1{
	color: #fff;
	font-size: 50px;
	font-weight: 700;
}

.icon{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translate(-50%,-20%);
	animation: icon-ani 1s linear infinite;
	animation-direction: alternate;
}

.icon i{
	color: #fff;
	font-size: 24px;
}

@keyframes icon-ani{
	0%{
		transform: translate(-50%, 0%);
	}

	100%{
		transform: translate(-50%,-100%);
	    }
}

.who-we-are-content {
	margin-top: 100px;
	width: 50%;
	float: left;
	position: relative;
}

.who-we-are-content::before{
	content: "";
	position: absolute;
	width: 70px;
	height: 6px;
	background: #f05327;
}


.who-we-are-content h1{
	margin-top: 20px;
}

.who-we-are-content p{
	margin: 20px 0px;
	padding-right: 100px;
}

.who-we-are-img{
	width: 50%;
	float: right;
	margin-top: 70px;
}

.who-we-are-img img{
	width: 50%; 
}